*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

/cpw
/ibxm
/net
/paulscode
/assets/forge
*.cfg
fmlversion.properties
forge_logo.png
mcp.png
mcpmod.info
deobfuscation_data-1.6.4.lzma
forge_at.cfg~
Start.java

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
